.contents-invisible * {
  opacity: 0;
  transform: translateY(40rem);
}

.pulse::after {
  opacity: 1;
  animation: pulse 1s infinite ease-out 0.5s;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeBack {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-4rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(4rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes svgFadeIn {
  from {
    fill: transparent;
  }
  to {
    fill: #4be14b;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  color: #4be14b;
  font-family: sans-serif;
}

.banner_heading {
  font-size: 10rem;
}
@media only screen and (max-width: 1700px) {
  .banner_heading {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 1300px) {
  .banner_heading {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 768px) {
  .banner_heading {
    font-size: 4.5rem;
  }
}
@media (max-width: 550px) {
  .banner_heading {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 426px) {
  .banner_heading {
    font-size: 2.5rem;
  }
}
@media only screen and (max-height: 950px) and (min-width: 1025px) and (max-width: 1300px) {
  .banner_heading {
    font-size: 7rem;
  }
}
@media only screen and (max-height: 950px) and (min-width: 1301px) {
  .banner_heading {
    font-size: 9.5rem;
  }
}
@media only screen and (max-height: 900px) and (min-width: 600px) and (max-width: 769px) {
  .banner_heading {
    font-size: 4.5rem;
  }
}
@media only screen and (max-height: 900px) and (min-width: 550px) and (max-width: 600px) {
  .banner_heading {
    font-size: 4rem;
  }
}
@media only screen and (max-height: 860px) and (min-width: 1250px) {
  .banner_heading {
    font-size: 7rem;
  }
}
@media only screen and (max-height: 800px) and (min-width: 769px) and (max-width: 1025px) {
  .banner_heading {
    font-size: 5rem;
  }
}
@media only screen and (max-height: 720px) and (min-width: 426px) and (max-width: 540px) {
  .banner_heading {
    font-size: 3.5rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 600px) and (max-width: 769px) {
  .banner_heading {
    font-size: 5rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 426px) and (max-width: 600px) {
  .banner_heading {
    font-size: 3.5rem;
  }
}
@media only screen and (max-height: 620px) and (min-width: 1025px) {
  .banner_heading {
    font-size: 6rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 1025px) {
  .banner_heading {
    font-size: 5rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 600px) {
  .banner_heading {
    font-size: 4rem;
  }
}
@media only screen and (max-height: 420px) {
  .banner_heading {
    font-size: 4.2rem;
  }
}
@media only screen and (max-height: 400px) {
  .banner_heading {
    font-size: 4rem;
  }
}
@media only screen and (max-height: 370px) {
  .banner_heading {
    font-size: 3.5rem;
  }
}
@media only screen and (max-height: 340px) {
  .banner_heading {
    font-size: 3rem;
  }
}

.cta-btn {
  font-size: 5rem;
}
@media only screen and (max-width: 1800px) {
  .cta-btn {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 1441px) {
  .cta-btn--section {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 426px) {
  .cta-btn--section {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1441px) {
  .cta-btn--about {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 514px) {
  .cta-btn--about {
    font-size: 2.5rem;
  }
}

.section_header--website, .section_header--about {
  font-size: 10rem;
}
@media only screen and (max-width: 2000px) {
  .section_header--website, .section_header--about {
    font-size: 9rem;
  }
}
@media only screen and (max-width: 1800px) {
  .section_header--website, .section_header--about {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 1441px) {
  .section_header--website, .section_header--about {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 685px) {
  .section_header--website, .section_header--about {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 1025px) {
  .section_header--website {
    font-size: 6.5rem;
  }
}
@media only screen and (max-width: 514px) {
  .section_header--website {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 1025px) {
  .section_header--about {
    font-size: 8rem;
  }
}
.section_description--website, .section_description--about {
  font-size: 5rem;
}
@media only screen and (max-width: 2000px) {
  .section_description--website, .section_description--about {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 1800px) {
  .section_description--website, .section_description--about {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1441px) {
  .section_description--website, .section_description--about {
    font-size: 2.7rem;
  }
}
@media only screen and (max-width: 1025px) {
  .section_description--website, .section_description--about {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 905px) {
  .section_description--website, .section_description--about {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 514px) {
  .section_description--website, .section_description--about {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 426px) {
  .section_description--website, .section_description--about {
    font-size: 2rem;
  }
}
.section_note {
  font-size: 3.5rem;
}
@media only screen and (max-width: 1800px) {
  .section_note {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 905px) {
  .section_note {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 514px) {
  .section_note {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 426px) {
  .section_note {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 376px) {
  .section_note {
    font-size: 1.2rem;
  }
}

.footer_email-label {
  font-size: 4rem;
}
@media only screen and (max-width: 1800px) {
  .footer_email-label {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1441px) {
  .footer_email-label {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 514px) {
  .footer_email-label {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 426px) {
  .footer_email-label {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 376px) {
  .footer_email-label {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 321px) {
  .footer_email-label {
    font-size: 1.3rem;
  }
}
.footer_credit {
  font-size: 2rem;
}
@media only screen and (max-width: 2000px) {
  .footer_credit {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1441px) {
  .footer_credit {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 426px) {
  .footer_credit {
    font-size: 1rem;
  }
}

.cta-btn {
  background-image: linear-gradient(135deg, #47c465, #00deff), linear-gradient(135deg, #47c465, #00deff);
  border: none;
  border-radius: 50px;
  width: 33rem;
  height: 8rem;
  transition: all 0.2s;
  color: white;
  transform-style: preserve-3d;
}
@media only screen and (max-width: 1800px) {
  .cta-btn--section {
    width: 29rem;
  }
}
@media only screen and (max-width: 1441px) {
  .cta-btn--section {
    height: 5.5rem;
    width: 21rem;
  }
}
@media only screen and (max-width: 1025px) {
  .cta-btn--section {
    height: 4.5rem;
    width: 19rem;
  }
}
@media only screen and (max-width: 514px) {
  .cta-btn--section {
    height: 4rem;
    width: 16rem;
  }
}
@media only screen and (max-width: 426px) {
  .cta-btn--section {
    height: 3.5rem;
    width: 14rem;
  }
}
@media only screen and (max-width: 1800px) {
  .cta-btn--about {
    width: 28rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 1441px) {
  .cta-btn--about {
    width: 21rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 514px) {
  .cta-btn--about {
    width: 17rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 1025px) {
  .cta-btn_arrow {
    display: none;
  }
}
.cta-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  background: white;
  color: #4be14b;
}
.cta-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.cta-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.cta-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
  background: #4be14b;
  transform: translateZ(-1px);
}

.banner_down-btn {
  position: relative;
  border-radius: 50%;
  border: none;
  padding: 8rem;
  margin: 1rem 0;
  background-image: linear-gradient(135deg, #47c465, #00deff), linear-gradient(135deg, #47c465, #00deff);
  transition: all 1.5s;
}
@media only screen and (max-width: 769px) {
  .banner_down-btn {
    padding: 7rem;
  }
}
@media only screen and (max-width: 426px) {
  .banner_down-btn {
    padding: 6rem;
  }
}
@media only screen and (min-height: 1200px) and (max-width: 1025px) {
  .banner_down-btn {
    padding: 9rem;
  }
}
@media only screen and (min-height: 915px) and (max-height: 950px) and (min-width: 769px) {
  .banner_down-btn {
    padding: 7rem;
  }
}
@media only screen and (min-height: 860px) and (max-height: 915px) and (min-width: 1300px) {
  .banner_down-btn {
    padding: 6rem;
  }
}
@media only screen and (max-height: 760px) {
  .banner_down-btn {
    padding: 6rem;
  }
}
@media only screen and (max-height: 500px) {
  .banner_down-btn {
    padding: 5rem;
  }
}
@media only screen and (max-height: 360px) {
  .banner_down-btn {
    padding: 4rem;
  }
}
@media only screen and (max-height: 280px) {
  .banner_down-btn {
    padding: 3rem;
  }
}
.banner_down-btn::after {
  content: "";
  display: inline-block;
  opacity: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
  background: #4be14b;
  z-index: -1;
}
.banner_down-btn:hover {
  cursor: pointer;
}

.banner_down-arrow {
  position: absolute;
  width: 13rem;
  left: 1.5rem;
  top: 2rem;
}
@media only screen and (max-width: 769px) {
  .banner_down-arrow {
    width: 11rem;
  }
}
@media only screen and (max-width: 426px) {
  .banner_down-arrow {
    width: 9rem;
  }
}
@media only screen and (min-height: 1200px) and (max-width: 1025px) {
  .banner_down-arrow {
    width: 15rem;
  }
}
@media only screen and (min-height: 915px) and (max-height: 950px) and (min-width: 769px) {
  .banner_down-arrow {
    width: 11rem;
  }
}
@media only screen and (min-height: 860px) and (max-height: 915px) and (min-width: 1300px) {
  .banner_down-arrow {
    width: 9rem;
  }
}
@media only screen and (max-height: 760px) {
  .banner_down-arrow {
    width: 9rem;
  }
}
@media only screen and (max-height: 500px) {
  .banner_down-arrow {
    width: 7rem;
  }
}
@media only screen and (max-height: 360px) {
  .banner_down-arrow {
    width: 5rem;
  }
}
@media only screen and (max-height: 280px) {
  .banner_down-arrow {
    left: 0.5rem;
    top: 1rem;
  }
}

.tech-list, .hobby-list {
  display: flex;
  justify-content: center;
}

.hobby-list {
  margin-top: 1rem;
}

.tech-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

.tech-item, .hobby {
  list-style: none;
  margin: 0 1rem;
  position: relative;
}
@media only screen and (max-width: 2000px) {
  .tech-item, .hobby {
    margin: 0 0.5rem;
  }
}
@media only screen and (max-width: 685px) {
  .tech-item, .hobby {
    margin: 0.4rem;
  }
}
@media only screen and (max-width: 426px) {
  .tech-item, .hobby {
    margin: 0 0.2rem;
  }
}
.tech-item_icon, .hobby_icon {
  z-index: 1;
  width: 8rem;
}
@media only screen and (max-width: 2000px) {
  .tech-item_icon, .hobby_icon {
    width: 7rem;
  }
}
@media only screen and (max-width: 1800px) {
  .tech-item_icon, .hobby_icon {
    width: 6rem;
  }
}
@media only screen and (max-width: 1441px) {
  .tech-item_icon, .hobby_icon {
    width: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .tech-item_icon, .hobby_icon {
    width: 4.4rem;
  }
}
@media only screen and (max-width: 1025px) {
  .tech-item_icon, .hobby_icon {
    width: 5.5rem;
  }
}
@media only screen and (max-width: 905px) {
  .tech-item_icon, .hobby_icon {
    width: 4rem;
  }
}
@media only screen and (max-width: 514px) {
  .tech-item_icon, .hobby_icon {
    width: 3rem;
  }
}
@media only screen and (max-width: 376px) {
  .tech-item_icon, .hobby_icon {
    width: 2.5rem;
  }
}
@media only screen and (max-width: 281px) {
  .tech-item_icon, .hobby_icon {
    width: 2.3rem;
  }
}

.section_text-container--website {
  width: 70rem;
}
@media only screen and (max-width: 2000px) {
  .section_text-container--website {
    width: 73rem;
  }
}
@media only screen and (max-width: 1800px) {
  .section_text-container--website {
    width: 65rem;
  }
}
@media only screen and (max-width: 1441px) {
  .section_text-container--website {
    width: 51rem;
  }
}
@media only screen and (max-width: 1300px) {
  .section_text-container--website {
    width: 47rem;
  }
}
@media only screen and (max-width: 1025px) {
  .section_text-container--website {
    width: 60rem;
  }
}
@media only screen and (max-width: 685px) {
  .section_text-container--website {
    width: 40rem;
  }
}
@media only screen and (max-width: 461px) {
  .section_text-container--website {
    width: 37rem;
  }
}
@media only screen and (max-width: 376px) {
  .section_text-container--website {
    width: 30rem;
  }
}
@media only screen and (max-width: 281px) {
  .section_text-container--website {
    width: 27rem;
  }
}
.section_text-container--about {
  width: 100rem;
}
@media only screen and (max-width: 2000px) {
  .section_text-container--about {
    width: 75rem;
  }
}
@media only screen and (max-width: 1700px) {
  .section_text-container--about {
    width: 65rem;
  }
}
@media only screen and (max-width: 685px) {
  .section_text-container--about {
    width: 46rem;
  }
}
.section_text-container--website, .section_text-container--about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media only screen and (max-width: 514px) {
  .section_text-container--website, .section_text-container--about {
    width: 34rem;
  }
}
@media only screen and (max-width: 376px) {
  .section_text-container--website, .section_text-container--about {
    width: 28rem;
  }
}

.section_image--rectangle {
  width: 100%;
}
.section_image--circle {
  border-radius: 50%;
  transform: scale(0.9);
  height: 100%;
  width: 100%;
}
.section_image-container--website {
  width: 90%;
  height: 90%;
  overflow: hidden;
  position: relative;
}
.section_image-container--about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52rem;
}
@media only screen and (max-width: 1800px) {
  .section_image-container--about {
    width: 35rem;
  }
}
@media only screen and (max-width: 1441px) {
  .section_image-container--about {
    width: 30rem;
  }
}
@media only screen and (max-width: 905px) {
  .section_image-container--about {
    width: 25rem;
  }
}
@media only screen and (max-width: 685px) {
  .section_image-container--about {
    width: 22rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 514px) {
  .section_image-container--about {
    width: 19rem;
  }
}
@media only screen and (max-width: 426px) {
  .section_image-container--about {
    width: 19rem;
  }
}
.section_image-outline--rectangle {
  position: relative;
  width: 100rem;
  height: 55rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg, #47c465, #00deff), linear-gradient(135deg, #47c465, #00deff);
  justify-content: center;
}
@media only screen and (max-width: 2000px) {
  .section_image-outline--rectangle {
    width: 86rem;
    height: 48rem;
  }
}
@media only screen and (max-width: 1800px) {
  .section_image-outline--rectangle {
    width: 74rem;
    height: 40rem;
  }
}
@media only screen and (max-width: 1441px) {
  .section_image-outline--rectangle {
    width: 62rem;
    height: 34rem;
  }
}
@media only screen and (max-width: 1200px) {
  .section_image-outline--rectangle {
    width: 53rem;
    height: 30rem;
  }
}
@media only screen and (max-width: 1025px) {
  .section_image-outline--rectangle {
    width: 90rem;
    height: 40rem;
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 905px) {
  .section_image-outline--rectangle {
    width: 67rem;
    height: 36rem;
  }
}
@media only screen and (max-width: 685px) {
  .section_image-outline--rectangle {
    width: 50rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 514px) {
  .section_image-outline--rectangle {
    width: 38rem;
    height: 21rem;
  }
}
@media only screen and (max-width: 426px) {
  .section_image-outline--rectangle {
    width: 35rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 376px) {
  .section_image-outline--rectangle {
    width: 30rem;
    height: 19rem;
  }
}
@media only screen and (max-width: 300px) {
  .section_image-outline--rectangle {
    width: 28rem;
  }
}
.section_image-outline--circle {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(135deg, #47c465, #00deff), linear-gradient(135deg, #47c465, #00deff);
}
.section_note {
  position: absolute;
  text-align: center;
  bottom: -8rem;
}
@media only screen and (max-width: 1800px) {
  .section_note {
    bottom: -6rem;
  }
}
@media only screen and (max-width: 1025px) {
  .section_note {
    bottom: -24rem;
  }
}
@media only screen and (max-width: 905px) {
  .section_note {
    bottom: -25rem;
    width: 53rem;
  }
}
@media only screen and (max-width: 685px) {
  .section_note {
    width: 37rem;
    bottom: -27.5rem;
  }
}
@media only screen and (max-width: 514px) {
  .section_note {
    width: 33rem;
    bottom: -21.5rem;
  }
}
@media only screen and (max-width: 426px) {
  .section_note {
    width: 26rem;
    bottom: -20rem;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 101vh;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: -1;
  animation: fadeBack 1s ease-out 1s forwards;
}
.banner_video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
}
.banner_name-svg {
  z-index: 1;
  width: 100rem;
  height: 38rem;
  align-self: center;
}
@media only screen and (max-width: 1300px) {
  .banner_name-svg {
    width: 82rem;
    height: 31rem;
  }
}
@media only screen and (max-width: 1025px) {
  .banner_name-svg {
    width: 64rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 769px) {
  .banner_name-svg {
    width: 53rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 600px) {
  .banner_name-svg {
    width: 45rem;
    height: 17rem;
  }
}
@media only screen and (max-width: 550px) {
  .banner_name-svg {
    width: 35rem;
    height: 14rem;
  }
}
@media only screen and (max-width: 426px) {
  .banner_name-svg {
    width: 29rem;
    height: 11rem;
  }
}
@media only screen and (max-width: 321px) {
  .banner_name-svg {
    width: 22rem;
    height: 9rem;
  }
}
@media only screen and (max-height: 860px) and (min-width: 1250px) {
  .banner_name-svg {
    width: 84rem;
    height: 30rem;
  }
}
@media only screen and (max-height: 860px) and (min-width: 1025px) {
  .banner_name-svg {
    width: 70rem;
    height: 27rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 769px) {
  .banner_name-svg {
    width: 60rem;
    height: 23rem;
  }
}
@media only screen and (max-height: 620px) and (min-width: 769px) {
  .banner_name-svg {
    width: 50rem;
    height: 18rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 426px) {
  .banner_name-svg {
    width: 45rem;
    height: 18rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 426px) {
  .banner_name-svg {
    width: 35rem;
    height: 14rem;
  }
}
@media only screen and (max-height: 400px) and (min-width: 426px) {
  .banner_name-svg {
    width: 31rem;
    height: 12rem;
  }
}
@media only screen and (max-height: 370px) {
  .banner_name-svg {
    width: 27rem;
    height: 11rem;
  }
}
@media only screen and (max-height: 340px) {
  .banner_name-svg {
    width: 22rem;
    height: 8rem;
  }
}
.banner_name-svg path {
  position: relative;
  z-index: 2;
  stroke: #4be14b;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2.5s ease-out forwards, svgFadeIn 0.7s ease-out 1.1s forwards;
}
.banner_heading--top {
  position: relative;
  z-index: 2;
  opacity: 0;
  margin-left: 45rem;
  margin-top: 10rem;
  animation: fadeIn 1s ease-out forwards, slideInFromLeft 1s ease-out;
}
@media only screen and (max-width: 2200px) {
  .banner_heading--top {
    margin-left: 24rem;
  }
}
@media only screen and (max-width: 1900px) {
  .banner_heading--top {
    margin-left: 11rem;
  }
}
@media only screen and (max-width: 1700px) {
  .banner_heading--top {
    margin-left: 7rem;
  }
}
@media only screen and (max-width: 1300px) {
  .banner_heading--top {
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 1025px) {
  .banner_heading--top {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 769px) {
  .banner_heading--top {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 426px) {
  .banner_heading--top {
    margin-left: 1rem;
  }
}
@media only screen and (min-height: 700px) and (max-height: 860px) and (min-width: 426px) and (max-width: 600px) {
  .banner_heading--top {
    margin-left: 3rem;
  }
}
@media only screen and (min-height: 700px) and (max-height: 860px) and (max-width: 1025px) {
  .banner_heading--top {
    margin-top: 10rem;
  }
}
@media only screen and (min-height: 700px) and (max-height: 860px) and (max-width: 520px) {
  .banner_heading--top {
    margin-left: 1rem;
  }
}
@media only screen and (min-height: 700px) and (max-height: 860px) and (min-width: 1300px) {
  .banner_heading--top {
    margin-left: 21rem;
  }
}
@media only screen and (min-height: 700px) and (max-height: 860px) and (min-width: 1800px) {
  .banner_heading--top {
    margin-left: 45rem;
  }
}
@media only screen and (min-height: 700px) and (max-height: 860px) and (min-width: 2300px) {
  .banner_heading--top {
    margin-left: 71rem;
  }
}
@media only screen and (max-height: 700px) {
  .banner_heading--top {
    margin-top: 5rem;
  }
}
@media only screen and (min-height: 620px) and (max-height: 700px) and (min-width: 769px) {
  .banner_heading--top {
    margin-left: 5rem;
  }
}
@media only screen and (min-height: 620px) and (max-height: 700px) and (min-width: 1025px) {
  .banner_heading--top {
    margin-left: 3rem;
  }
}
@media only screen and (min-height: 620px) and (max-height: 700px) and (min-width: 1441px) {
  .banner_heading--top {
    margin-left: 25rem;
  }
}
@media only screen and (min-height: 620px) and (max-height: 700px) and (min-width: 1900px) {
  .banner_heading--top {
    margin-left: 46rem;
  }
}
@media only screen and (min-height: 620px) and (max-height: 700px) and (min-width: 2300px) {
  .banner_heading--top {
    margin-left: 68rem;
  }
}
@media only screen and (min-height: 560px) and (max-height: 620px) and (min-width: 769px) {
  .banner_heading--top {
    margin-left: 6rem;
  }
}
@media only screen and (min-height: 560px) and (max-height: 620px) and (min-width: 1025px) {
  .banner_heading--top {
    margin-left: 10rem;
  }
}
@media only screen and (min-height: 560px) and (max-height: 620px) and (min-width: 1441px) {
  .banner_heading--top {
    margin-left: 33rem;
  }
}
@media only screen and (min-height: 560px) and (max-height: 620px) and (min-width: 1900px) {
  .banner_heading--top {
    margin-left: 55rem;
  }
}
@media only screen and (min-height: 560px) and (max-height: 620px) and (min-width: 2300px) {
  .banner_heading--top {
    margin-left: 75rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 1025px) {
  .banner_heading--top {
    margin-left: 22rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 1400px) {
  .banner_heading--top {
    margin-left: 38rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 1700px) {
  .banner_heading--top {
    margin-left: 53rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 2100px) {
  .banner_heading--top {
    margin-left: 66rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 2400px) {
  .banner_heading--top {
    margin-left: 85rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 769px) {
  .banner_heading--top {
    margin-left: 11rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 1025px) {
  .banner_heading--top {
    margin-left: 27rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 1300px) {
  .banner_heading--top {
    margin-left: 41rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 1600px) {
  .banner_heading--top {
    margin-left: 55rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 1900px) {
  .banner_heading--top {
    margin-left: 67rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 2100px) {
  .banner_heading--top {
    margin-left: 81rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 2400px) {
  .banner_heading--top {
    margin-left: 96rem;
  }
}
@media only screen and (max-height: 420px) {
  .banner_heading--top {
    margin-top: 1rem;
  }
}
.banner_heading--bottom {
  align-self: flex-end;
  margin-right: 33rem;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards 1s, slideInFromRight 1s ease-out 1s;
}
@media only screen and (max-width: 2200px) {
  .banner_heading--bottom {
    margin-right: 24rem;
  }
}
@media only screen and (max-width: 1900px) {
  .banner_heading--bottom {
    margin-right: 11rem;
  }
}
@media only screen and (max-width: 1700px) {
  .banner_heading--bottom {
    margin-right: 7rem;
  }
}
@media only screen and (max-width: 1300px) {
  .banner_heading--bottom {
    margin-right: 4rem;
  }
}
@media only screen and (max-width: 769px) {
  .banner_heading--bottom {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 426px) {
  .banner_heading--bottom {
    margin-right: 1rem;
  }
}
@media only screen and (max-height: 860px) and (min-width: 520px) and (max-width: 600px) {
  .banner_heading--bottom {
    margin-right: 3rem;
  }
}
@media only screen and (max-height: 860px) and (max-width: 520px) {
  .banner_heading--bottom {
    margin-right: 1rem;
  }
}
@media only screen and (max-height: 860px) and (min-width: 1300px) {
  .banner_heading--bottom {
    margin-right: 21rem;
  }
}
@media only screen and (max-height: 860px) and (min-width: 1800px) {
  .banner_heading--bottom {
    margin-right: 45rem;
  }
}
@media only screen and (max-height: 860px) and (min-width: 2300px) {
  .banner_heading--bottom {
    margin-right: 71rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 769px) {
  .banner_heading--bottom {
    margin-right: 5rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 1025px) {
  .banner_heading--bottom {
    margin-right: 3rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 1441px) {
  .banner_heading--bottom {
    margin-right: 25rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 1900px) {
  .banner_heading--bottom {
    margin-right: 46rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 2300px) {
  .banner_heading--bottom {
    margin-right: 68rem;
  }
}
@media only screen and (max-height: 620px) and (min-width: 769px) {
  .banner_heading--bottom {
    margin-right: 6rem;
  }
}
@media only screen and (max-height: 620px) and (min-width: 1025px) {
  .banner_heading--bottom {
    margin-right: 10rem;
  }
}
@media only screen and (max-height: 620px) and (min-width: 1441px) {
  .banner_heading--bottom {
    margin-right: 33rem;
  }
}
@media only screen and (max-height: 620px) and (min-width: 1900px) {
  .banner_heading--bottom {
    margin-right: 55rem;
  }
}
@media only screen and (max-height: 620px) and (min-width: 2300px) {
  .banner_heading--bottom {
    margin-right: 75rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 1025px) {
  .banner_heading--bottom {
    margin-right: 22rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 1400px) {
  .banner_heading--bottom {
    margin-right: 38rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 1700px) {
  .banner_heading--bottom {
    margin-right: 53rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 2100px) {
  .banner_heading--bottom {
    margin-right: 66rem;
  }
}
@media only screen and (max-height: 560px) and (min-width: 2400px) {
  .banner_heading--bottom {
    margin-right: 85rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 769px) {
  .banner_heading--bottom {
    margin-left: 11rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 1025px) {
  .banner_heading--bottom {
    margin-right: 27rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 1300px) {
  .banner_heading--bottom {
    margin-right: 41rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 1600px) {
  .banner_heading--bottom {
    margin-right: 55rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 1900px) {
  .banner_heading--bottom {
    margin-right: 67rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 2100px) {
  .banner_heading--bottom {
    margin-right: 81rem;
  }
}
@media only screen and (max-height: 520px) and (min-width: 2400px) {
  .banner_heading--bottom {
    margin-right: 96rem;
  }
}

.banner_down-btn-wrapper {
  position: absolute;
  align-self: center;
}
@media only screen and (min-width: 1700px) {
  .banner_down-btn-wrapper {
    bottom: 5rem;
  }
}
@media only screen and (max-width: 1700px) {
  .banner_down-btn-wrapper {
    bottom: 9rem;
  }
}
@media only screen and (max-width: 1300px) {
  .banner_down-btn-wrapper {
    bottom: 15rem;
  }
}
@media only screen and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 20rem;
  }
}
@media only screen and (max-width: 769px) {
  .banner_down-btn-wrapper {
    bottom: 30rem;
  }
}
@media only screen and (min-height: 1200px) and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 31rem;
  }
}
@media only screen and (max-height: 950px) and (max-width: 1800px) {
  .banner_down-btn-wrapper {
    bottom: 5rem;
  }
}
@media only screen and (max-height: 950px) and (max-width: 1300px) {
  .banner_down-btn-wrapper {
    bottom: 10rem;
  }
}
@media only screen and (max-height: 950px) and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 18rem;
  }
}
@media only screen and (max-height: 950px) and (max-width: 769px) {
  .banner_down-btn-wrapper {
    bottom: 21rem;
  }
}
@media only screen and (max-height: 950px) and (max-width: 600px) {
  .banner_down-btn-wrapper {
    bottom: 25rem;
  }
}
@media only screen and (max-height: 950px) and (max-width: 550px) {
  .banner_down-btn-wrapper {
    bottom: 32rem;
  }
}
@media only screen and (max-height: 915px) and (min-width: 1025px) and (max-width: 1300px) {
  .banner_down-btn-wrapper {
    bottom: 6rem;
  }
}
@media only screen and (max-height: 915px) and (min-width: 1300px) {
  .banner_down-btn-wrapper {
    bottom: 2.2rem;
  }
}
@media only screen and (max-height: 915px) and (min-width: 769px) and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 12rem;
  }
}
@media only screen and (max-height: 860px) and (min-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 7rem;
  }
}
@media only screen and (max-height: 860px) and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 9rem;
  }
}
@media only screen and (max-height: 860px) and (max-width: 769px) {
  .banner_down-btn-wrapper {
    bottom: 15rem;
  }
}
@media only screen and (max-height: 860px) and (max-width: 550px) {
  .banner_down-btn-wrapper {
    bottom: 25rem;
  }
}
@media only screen and (max-height: 800px) and (min-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 3rem;
  }
}
@media only screen and (max-height: 800px) and (min-width: 769px) and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 5rem;
  }
}
@media only screen and (max-height: 800px) and (max-width: 550px) {
  .banner_down-btn-wrapper {
    bottom: 18rem;
  }
}
@media only screen and (max-height: 760px) and (min-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 3rem;
  }
}
@media only screen and (max-height: 760px) and (min-width: 769px) and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 5rem;
  }
}
@media only screen and (max-height: 760px) and (max-width: 550px) {
  .banner_down-btn-wrapper {
    bottom: 18rem;
  }
}
@media only screen and (max-height: 715px) and (min-width: 550px) and (max-width: 769px) {
  .banner_down-btn-wrapper {
    bottom: 9rem;
  }
}
@media only screen and (max-height: 715px) and (max-width: 550px) {
  .banner_down-btn-wrapper {
    bottom: 14rem;
  }
}
@media only screen and (max-height: 700px) and (min-width: 769px) {
  .banner_down-btn-wrapper {
    bottom: 6rem;
  }
}
@media only screen and (max-height: 670px) and (min-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 3rem;
  }
}
@media only screen and (max-height: 670px) and (min-width: 769px) and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 6rem;
  }
}
@media only screen and (max-height: 600px) and (min-width: 550px) and (max-width: 769px) {
  .banner_down-btn-wrapper {
    bottom: 2rem;
  }
}
@media only screen and (max-height: 580px) and (min-width: 550px) and (max-width: 1025px) {
  .banner_down-btn-wrapper {
    bottom: 3rem;
  }
}
@media only screen and (max-height: 580px) and (min-width: 426px) and (max-width: 600px) {
  .banner_down-btn-wrapper {
    bottom: 7rem;
  }
}
@media only screen and (max-height: 540px) and (min-width: 426px) and (max-width: 600px) {
  .banner_down-btn-wrapper {
    bottom: 4rem;
  }
}
@media only screen and (max-height: 540px) and (max-width: 426px) {
  .banner_down-btn-wrapper {
    bottom: 6rem;
  }
}
@media only screen and (max-height: 500px) {
  .banner_down-btn-wrapper {
    bottom: 1.3rem;
  }
}
@media only screen and (max-height: 280px) {
  .banner_down-btn-wrapper {
    bottom: 0.8rem;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media only screen and (max-width: 769px) {
  .footer {
    flex-direction: column;
    align-items: center;
    height: 20rem;
  }
}
@media only screen and (max-width: 514px) {
  .footer {
    height: 14rem;
  }
}
.footer_email-label {
  color: grey;
}
.footer_info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_profile-logo {
  transition: all 0.2s;
  width: 9rem;
}
@media only screen and (max-width: 1800px) {
  .footer_profile-logo {
    width: 7rem;
  }
}
@media only screen and (max-width: 1441px) {
  .footer_profile-logo {
    width: 5.5rem;
  }
}
@media only screen and (max-width: 514px) {
  .footer_profile-logo {
    width: 4.5rem;
  }
}
.footer_profile-logo:hover {
  opacity: 0.8;
}
.footer_email-link {
  color: #4be14b;
}
.footer_credit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--website, .section--about {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section--website div, .section--about div {
  transition: all 0.8s;
}
.section--website {
  margin: 7rem 0;
  width: 91%;
}
@media only screen and (max-width: 1800px) {
  .section--website {
    width: 100%;
  }
}
@media only screen and (max-width: 1025px) {
  .section--website {
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 514px) {
  .section--website {
    margin: 1.5rem 0;
  }
}
@media only screen and (max-width: 426px) {
  .section--website {
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 1025px) {
  .section--website:nth-of-type(2), .section--website:nth-of-type(4) {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1025px) {
  .section--website:nth-of-type(3), .section--website:nth-of-type(5) {
    flex-direction: column;
  }
}
.section--about {
  background: whitesmoke;
  padding: 3rem 14rem;
  overflow: hidden;
  width: 100%;
}
@media only screen and (max-width: 1700px) {
  .section--about {
    padding: 3rem 0;
  }
}
@media only screen and (max-width: 1025px) {
  .section--about {
    flex-direction: column;
  }
}
.section_link-btn-wrapper {
  margin: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
