.cta-btn{
    background-image: $linearGradient;
    border: none;
    border-radius: 50px;
    width: 19rem;
    height: 5rem;
    transition: all 0.2s;
    color: white;
    transform-style: preserve-3d;

    @media only screen and (max-width: 501px){
        height: 4rem;
    };

    @media only screen and (max-height: 376px){
        width: 14rem;
        height: 3rem;
    };

    &_arrow{
        @media only screen and (max-width: 1025px){
            display: none;
        };
    };

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        background: white;
        color: $fontColor;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        };
    };

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    };

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
        background: $fontColor;
        transform: translateZ(-1px);
    };
};

.banner_down-btn{
    position: relative;
    border-radius: 50%;
    border: none;
    padding: 4rem;
    margin: 1rem 0;
    background-image: $linearGradient;

    @media only screen and (max-width: 501px){
        padding: 3.5rem;
    };

    @media only screen and (max-height: 541px){
        margin: 1rem;
    };

    @media only screen and (max-height: 415px){
        padding: 3rem;
    };

    @media only screen and (max-height: 281px){
        padding: 2.5rem;
    };

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
        background: $fontColor;
        animation: pulse 1s infinite 0.5s;
        z-index: -1;
    };

    &:hover{
        cursor: pointer;
    };
};

.banner_down-arrow{
    position: absolute;
    width: 6rem;
    left: 1rem;
    top: 1.4rem;

    @media only screen and (max-width: 501px){
        left: 0.5rem;
        top: 1rem;
    };

    @media only screen and (max-height: 415px){
        width: 5rem;
        top: 1rem;
        left: 0.5rem
    };

    @media only screen and (max-height: 281px){
        width: 4rem;
        top: 0.8rem;
    };
};