.cta-btn{
    background-image: $linearGradient;
    border: none;
    border-radius: 50px;
    width: 33rem;
    height: 8rem;
    transition: all 0.2s;
    color: white;
    transform-style: preserve-3d;

    &--section{

        @media only screen and (max-width: 1800px){
            width: 29rem;
        };

        @media only screen and (max-width: 1441px){
            height: 5.5rem;
            width: 21rem;
        };

        @media only screen and (max-width: 1025px){
            height: 4.5rem;
            width: 19rem;
        };

        @media only screen and (max-width: 514px){
            height: 4rem;
            width: 16rem;
        };

        @media only screen and (max-width: 426px){
            height: 3.5rem;
            width: 14rem;
        };
    };

    &--about{
        @media only screen and (max-width: 1800px){
            width: 28rem;
            height: 7rem;
        };

        @media only screen and (max-width: 1441px){
            width: 21rem;
            height: 5rem;
        };

        @media only screen and (max-width: 514px){
            width: 17rem;
            height: 4rem;
        };
    };

    &_arrow{
        @media only screen and (max-width: 1025px){
            display: none;
        };
    };

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        background: white;
        color: $fontColor;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        };
    };

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    };

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
        background: $fontColor;
        transform: translateZ(-1px);
    };
};

.banner_down-btn{
    position: relative;
    border-radius: 50%;
    border: none;
    padding: 8rem;
    margin: 1rem 0;
    background-image: $linearGradient;
    transition: all 1.5s;

    @media only screen and (max-width: 769px){
        padding: 7rem;
    };

    @media only screen and (max-width: 426px){
        padding: 6rem;
    };

    @media only screen and (min-height: 1200px){  

        @media only screen and (max-width: 1025px){
            padding: 9rem;
        };
    };
// 950 HEIGHT
    @media only screen and (min-height: 915px) and (max-height: 950px){

        @media only screen and (min-width: 769px){
            padding: 7rem;
        };
    };
// 915 HEIGHT
    @media only screen and (min-height: 860px) and (max-height: 915px){
        
        @media only screen and (min-width: 1300px){
            padding: 6rem;
        };
    };
// 760 HEIGHT
    @media only screen and (max-height: 760px){
        padding: 6rem;
    };
// 500 HEIGHT
    @media only screen and (max-height: 500px){
        padding: 5rem;
    }; 
// 360 HEIGHT
    @media only screen and (max-height: 360px){
        padding: 4rem;
    };
// 280 HEIGHT
    @media only screen and (max-height: 280px){
        padding: 3rem;
    };

    &::after {
        content: "";
        display: inline-block;
        opacity: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
        background: $fontColor;
        z-index: -1;
    };

    &:hover{
        cursor: pointer;
    };
};

.banner_down-arrow{
    position: absolute;
    width: 13rem;
    left: 1.5rem;
    top: 2rem;

    @media only screen and (max-width: 769px){
        width: 11rem;
    };

    @media only screen and (max-width: 426px){
        width: 9rem;
    };

    @media only screen and (min-height: 1200px){  

        @media only screen and (max-width: 1025px){
            width: 15rem;
        };
    };
// 950 HEIGHT
    @media only screen and (min-height: 915px) and (max-height: 950px){

        @media only screen and (min-width: 769px){
            width: 11rem;
        };
    };
// 915 HEIGHT
@media only screen and (min-height: 860px) and (max-height: 915px){
        
    @media only screen and (min-width: 1300px){
        width: 9rem;
    };
};
// 760 HEIGHT
    @media only screen and (max-height: 760px){
        width: 9rem;
    };
// 500 HEIGHT
    @media only screen and (max-height: 500px){
        width: 7rem;
    }; 
// 360 HEIGHT
    @media only screen and (max-height: 360px){
        width: 5rem;
    }; 
// 280 HEIGHT
    @media only screen and (max-height: 280px){
        left: 0.5rem;
        top: 1rem;
    }; 
};