.cta-btn{
    background-image: $linearGradient;
    border: none;
    border-radius: 50px;
    width: 33rem;
    height: 8rem;
    transition: all 0.2s;
    color: white;
    transform-style: preserve-3d;

    &--section{

        @media only screen and (max-width: 1800px){
            width: 29rem;
        };

        @media only screen and (max-width: 1441px){
            height: 5.5rem;
            width: 21rem;
        };

        @media only screen and (max-width: 1025px){
            height: 4.5rem;
            width: 19rem;
        };

        @media only screen and (max-width: 514px){
            height: 4rem;
            width: 16rem;
        };

        @media only screen and (max-width: 426px){
            height: 3.5rem;
            width: 14rem;
        };
    };

    &--about{
        @media only screen and (max-width: 1800px){
            width: 28rem;
            height: 7rem;
        };

        @media only screen and (max-width: 1441px){
            width: 21rem;
            height: 5rem;
        };

        @media only screen and (max-width: 514px){
            width: 17rem;
            height: 4rem;
        };
    };

    &_arrow{
        @media only screen and (max-width: 1025px){
            display: none;
        };
    };

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        background: white;
        color: $fontColor;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        };
    };

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    };

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
        background: $fontColor;
        transform: translateZ(-1px);
    };
};

.banner_down-btn{
    position: relative;
    border-radius: 50%;
    border: none;
    padding: 8rem;
    margin: 1rem 0;
    background-image: $linearGradient;

    @media only screen and (max-width: 1300px){
        padding: 7rem;
    };

    @media only screen and (max-width: 769px){
        padding: 6rem;
    };

    @media only screen and (max-height: 950px){
        padding: 7rem;
    };

    @media only screen and (max-height: 541px){
        margin: 1rem;
    };

    @media only screen and (max-height: 415px){
        padding: 3rem;
    };

    @media only screen and (max-height: 281px){
        padding: 2.5rem;
    };

    @media only screen and (max-height: 860px){

        @media only screen and (max-width: 769px){
            padding: 6rem;
        };

        @media only screen and (max-width: 426px){
            padding: 5.5rem;
        };
    };
// 750 HEIGHT
    @media only screen and (max-height: 750px){
        padding: 6rem;
    };
// 670 HEIGHT
    @media only screen and (max-height: 670px){
        padding: 5rem;
    };
// 500 HEIGHT
    @media only screen and (max-height: 500px){
        padding: 4rem;
    };
// 420 HEIGHT
    @media only screen and (max-height: 420px){
        padding: 5rem;
    }; 
// 376 HEIGHT
    @media only screen and (max-height: 376px){
        padding: 4.5rem;
    }; 
// 360 HEIGHT
    @media only screen and (max-height: 360px){
        padding: 4rem;
    };
// 280 HEIGHT
    @media only screen and (max-height: 280px){
        padding: 3rem;
    };

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
        background: $fontColor;
        animation: pulse 1s infinite 0.5s;
        z-index: -1;
    };

    &:hover{
        cursor: pointer;
    };
};

.banner_down-arrow{
    position: absolute;
    width: 13rem;
    left: 1.5rem;
    top: 2rem;

    @media only screen and (max-width: 1300px){
        width: 11rem;
    };

    @media only screen and (max-width: 769px){
        width: 9rem;
    };

    @media only screen and (max-height: 950px){
        width: 11rem;
    };

    @media only screen and (max-height: 281px){
        width: 4rem;
        top: 0.8rem;
    };
// 860 HEIGHT
    @media only screen and (max-height: 860px){

        @media only screen and (max-width: 769px){
            width: 9rem;
        };

        @media only screen and (max-width: 426px){
            width: 8rem;
        };
    };
// 750 HEIGHT
    @media only screen and (max-height: 750px){
        width: 9rem;
    };
// 670 HEIGHT
    @media only screen and (max-height: 670px){
        width: 7rem;
    };
// 500 HEIGHT
    @media only screen and (max-height: 500px){
        width: 5rem;
    };
// 420 HEIGHT
    @media only screen and (max-height: 420px){
        width: 7rem;
    }; 
// 376 HEIGHT
    @media only screen and (max-height: 376px){
        width: 6rem;
    }; 
// 360 HEIGHT
    @media only screen and (max-height: 360px){
        left: 1.1rem;
        top: 1.5rem;
    }; 
// 280 HEIGHT
    @media only screen and (max-height: 280px){
        width: 5rem;
        top: 1rem;
        left: 0.6rem;
    };
};