.contents-invisible{

    *{
        opacity: 0;
        transform: translateY(40rem);
    };
};

.pulse{

    &::after{
        opacity: 1;
        animation: pulse 1s infinite ease-out 0.5s;        
    };
};

@keyframes pulse {
    from{
        transform: scale(1);
        opacity: 1;
    };

    to{
        transform: scale(1.5);
        opacity: 0;
    };
};

@keyframes fadeIn{
    from{
        opacity: 0;
    };

    to{
        opacity: 1;
    };
};

@keyframes fadeBack{
    from{
        opacity: 1;
    };

    to{
        opacity: 0.7;
    };
};

@keyframes slideInFromLeft{
    from{
        transform: translateX(-4rem);
    };

    to{
        transform: translateX(0);
    };
};

@keyframes slideInFromRight{
    from{
        transform: translateX(4rem);
    };

    to{
        transform: translateX(0);
    };
};

@keyframes dash{
    to {
        stroke-dashoffset: 0;
    };
};

@keyframes svgFadeIn{
    from{
        fill: transparent;
    };

    to{
        fill: $fontColor;
    };
};